@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
  --font-titulos: 'Roboto Condensed Variable', sans-serif;
  --font-texto: 'Open Sans Variable', sans-serif;
  --color-bluemain-own: rgb(49, 148, 148);
  --color-orange-own: rgb(248, 117, 83);
  --color-green-own: rgb(129, 178, 20);
  --color-yellow-own: rgb(255, 197, 0);
  --color-beigelight-own: rgb(254, 249, 225);
  --color-red-own: rgb(230, 57, 70);
  --color-white-own: rgb(242, 250, 239);
  --color-darkestblue-own: rgb(8, 20, 36);
  --color-darkgrey-own:rgb(32, 32, 32);
  --color-pink-own: rgb(252, 207, 190);
  --color-purple-own: rgb(118, 84, 161);
  --color-blue-own: rgb(0, 66, 90);
  --color-primary: rgb(248, 117, 83);
  --color-secondary: rgb(49, 148, 148);
  --color-tertiary: rgb(255, 197, 0);
  --color-moradoso: rgb(118, 84, 161);
  --color-verdizul: rgb(2, 104, 107);
  --color-verdecla: rgb(33, 161, 1);
  --color-link: rgb(13, 110, 253);
  --color-azulcla: rgb(12, 170, 241);
  --color-moradocla: rgb(143, 37, 241);
  --color-amarillocla: rgb(243, 199, 3);
  --size-sm: clamp(0.7rem, 0.32vw + 0.64rem, 0.89rem);
  --size-base: clamp(0.88rem, 0.52vw + 0.77rem, 1.19rem);
  --size-lg: clamp(1.09rem, 0.82vw + 0.93rem, 1.58rem);
  --size-xl: clamp(1.37rem, 1.24vw + 1.12rem, 2.11rem);
  --size-xxl: clamp(1.71rem, 1.84vw + 1.34rem, 2.81rem);
  --size-xxxl: clamp(2.14rem, 2.69vw + 1.6rem, 3.75rem);
  --line-height-base: clamp(1.3rem, 0.52vw + 1.57rem, 2.38rem);
  --line-height-md: clamp(1.5rem, 0.82vw + 1.7rem, 2.52rem);
  --line-height-xl: clamp(2rem, 1.52vw + 2.12rem, 4.02rem);
}

:root {
  --transition-smooth: ease-in-out 0.5s all;
  --icon-url: url('../icons/manita.svg');
  --icon-size: 20px;
  --icon-pos-left: -0.5rem;
}

@layer components {
  main {
    section {
      @apply mt-1 xl:mt-5 mb-2 xl:mb-10 mx-auto px-3 xl:px-0 max-w-5xl prose prose-base lg:prose-lg prose-slate prose-a:text-blue-600 prose-a:hover:text-blue-500 prose-p:max-w-[75ch] prose-p:mx-auto prose-p:leading-relaxed prose-p:text-darkestblue-own prose-h2:my-3  prose-li:max-w-[75ch] prose-li:mx-auto prose-li:leading-relaxed prose-li:text-darkestblue-own;
    }
    h2, h3, h4, h5{
      @apply font-titulos;
    }
    h3{
      @apply text-secondary mb-3;
    }
    li > a {
      @apply text-blue-700 underline underline-offset-4 hover:text-orange-own transition-all ease-in-out;
    }
  }
  #header__nav{
    @apply min-w-full bg-slate-200;
    .header__unidades {
      @apply bg-darkgrey-own;
    }
    .header__container{
      @apply max-w-5xl mx-auto px-3 xl:px-0 py-2 grid grid-cols-3 md:grid-cols-2 items-center;
      div{
        @apply sm:flex items-center col-span-1 hidden;
        span{
          @apply text-white uppercase font-bold font-titulos ml-2 hidden md:block;
        }
      }
      ul{
        @apply grid grid-cols-2 lg:grid-cols-4 lg:justify-end gap-x-2 gap-y-1 col-span-3 md:col-span-1 ;
        li{
          @apply text-white relative text-center;
          .active-unidad {
              @apply !bg-bluemain-own;
            }
          a{
            @apply px-2 md:px-4 py-1 !no-underline bg-orange-own uppercase font-bold font-texto text-sm block hover:bg-blue-own transition-all ease-in-out hover:translate-y-0.5;
          }

        }
      }
    }
    .header__logo{
      @apply size-10
    }
    #header__temas{
      @apply max-w-5xl mx-auto px-3 xl:px-0 py-2;
      span {
        @apply text-gray-600;
      }
      ol{
        @apply list-decimal list-inside;
        li{
          @apply pb-1 marker:font-extrabold w-full border-b border-gray-300 relative;

          a{
            @apply !no-underline text-sm text-link hover:text-orange-own transition-all ease-in-out;
          }
        }
        .active-tema{
          @apply !text-darkestblue-own font-semibold;
        }
      }
    }
    #nombre-asignatura{
      @apply w-full bg-bluemain-own text-white py-1 px-3 xl:px-0;
      h1{
        @apply text-lg font-bold text-center;
      }
    }
    #header__pantalla{
      @apply max-w-full bg-gray-300 py-2 px-3 xl:px-0 text-right relative;
      div{
        @apply max-w-5xl mx-auto sticky top-0 z-10;
      }
      .active-pagina{
        @apply text-darkgrey-own font-bold;
      }
      ol {
        @apply flex flex-wrap justify-end items-center mt-2 gap-[0.15rem] relative z-50;
        li{
          @apply text-white bg-bluemain-own/80 aspect-square size-6 flex items-center justify-center hover:text-darkestblue-own transition-all ease-in-out hover:-translate-y-0.5;
          a{
            @apply !no-underline font-light relative;
          }
        }
      }
      span {
          @apply text-gray-600 text-right;
        }
    }
    .header__flechas{
      @apply !bg-bluemain-own;
    }
  }
  #nav-moodle{
    @apply min-w-full bg-orange-own;
    article{
      @apply max-w-5xl mx-auto text-sm items-center justify-between flex px-3 xl:px-0 text-darkgrey-own;
    }
    .truncado{
      @apply max-w-[18ch] md:max-w-[20ch] lg:max-w-[25ch] truncate;
    }
  }
  #breadcrumb{
    @apply min-w-full px-3 xl:px-0 pt-3 pb-2 font-titulos;
    ul {
      @apply flex flex-row gap-x-1 text-sm max-w-5xl mx-auto;
      li {
        @apply max-w-[20ch] truncate md:max-w-[30ch] lg:max-w-[40ch] xl:max-w-[50ch];
      }
      li:not(:last-child) {
          @apply after:content-['/'];
      }
      a {
        @apply underline-offset-2 hover:text-orange-own transition-all ease-in-out;
      }
    }
  }
  #footer{
    @apply bg-darkgrey-own text-white text-sm;
  }
  .mjx-math {
    @apply text-2xl;
  }
  .actividad {
    @apply w-full mt-10 border-t-2 border-dashed border-t-slate-300;

    span {
      @apply text-secondary uppercase font-titulos font-bold text-2xl before:content-['|'] before:mr-2;
    }

    p {
      @apply text-secondary;
    }
  }
  #biblio li {
    @apply text-ellipsis overflow-hidden;
  }
}
/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Header
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 51;
  max-height: fit-content;
  ol{
    padding-top: 1.5rem;
  }
}
.breadcrumb-fixed {
  z-index: 52;
  bottom: 0;
}
.active-unidad::after,
.active-pagina::after,
.active-tema::after {
  content: '';
  position: absolute;
  background: var(--icon-url) no-repeat center center;
  width: var(--icon-size);
  height: var(--icon-size);
  background-size: contain;
}

.active-unidad::after {
  left: var(--icon-pos-left);
  top: 0;
  transform: rotate(90deg);
}

.active-pagina::after {
  left: var(--icon-pos-left);
  top: -0.9rem;
  transform: rotate(180deg);
}

.active-tema::after {
  display: inline-block;
  transform: rotate(-90deg) scaleX(-1);
}

.ol-alpha,
.ol-number,
.ul-disc {
  list-style: none;
  counter-reset: item;
  padding-left: 0;
  >li {
    position: relative;
    counter-increment: item;
    margin-bottom: 1.3rem;
    align-items: center;
    padding-left: 2rem;
    p {
      max-width: 75ch;
    }
  }

  >li:before {
    position: absolute;
    left: 0.1rem;
    background: var(--color-orange-own);
    border-radius: 100%;
    color: var(--color-white-own);
    min-width: 2rem;
    min-height: 2rem;
    text-align: center;
    font-weight: 900;
    line-height: 2rem;
    font-size: 1rem;

  }
}

.ol-alpha {
  >li:before {
    margin-right: 1rem;
    content: counter(item, lower-alpha);
  }
}

.ol-number {
  >li:before {
    content: counter(item);
  }
}

.ul-disc {
  >li {
    padding-left: 1.6rem;

    ul {
      list-style: disc;
      margin-top: 0.5rem;
      margin-left: 1rem;

      li {
        padding-bottom: 1rem;
      }

      li:last-child {
        padding-bottom: 0;
      }
    }
  }

  >li:before {
    top: 0.5rem;
    content: "";
    max-width: 0.8rem;
    min-width: 0.8rem;
    min-height: 0.8rem;
    max-height: 0.8rem;
  }
}

.ul {
  list-style: disc;
}

.ol-letra {
  list-style: lower-alpha;
}

.text-colorfoot {
  padding-top: 0.5rem;
  color: #4d4d4d !important;
  font-size: clamp(0.8rem, 1vw, 1.01rem);
  line-height: clamp(1.5rem, 1.6vw, 1.7rem);
}
